<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1>Quasiperiodic tiling</h1>
    <p>Such as the Penrose Tile</p>
  </div>

</header>
